/**
* TABLE OF CONTENTS
*
* - Coin Hive UI
* - Checkbox Switch
* - Media Queries
*/


/**
* Coin Hive UI
*/

#coin-hive-ui {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
  position: fixed;
  top: 0;
  left: -100px;
  bottom: 0;
  display: block;
  float: left;
  width: 0;
  max-width: 284px;
  height: 100%;
  overflow-x: hidden;
  background-color: #3E4B56;
  z-index: 1000000;

  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#coin-hive-ui > ul {
  text-align: center;
  display: block;
  margin-right: 40px;
  padding: 0;
  list-style: none;
  opacity: .5;
  -moz-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#coin-hive-ui .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#coin-hive-ui a {
  font-weight: 500;
  color: #fff;
}

#coin-hive-ui h3 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: .4em 0 0;
}

/**
* Checkbox Switch
*/

.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 14px;
  vertical-align: text-top;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

/**
* Media Queries
*/

@media screen and (min-width: 48em) {
	#coin-hive-footer {
	    font-size: 14px;
	    font-size: 0.875rem;
	    line-height: 1.6;
	}
}